{% extends "cubeapp/base.html" %}

{% block body %}
<div class="container">

    {% if not user.is_anonymous %}
    <strong>Logged in as</strong>
    {{ user }} |    
    {{ user.email }}
    <a href="{% url 'cubeapp:logout'%}">Logout</a>
    {% else %}
    <a href="{% url 'cubeapp:login'%}"><strong>Log in</strong></a>
    {% endif %}

    <div class="py-5 text-center">
        <h2>Letter-pair mnemonics dictionary</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>

    <div class="row">
    {% for card in cards %}

        <div class="col-3 mb-2">
            <div class="card ">
                <div class="card-body">
                    <h5 class="card-title">{{card.abbreviation}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for realobject in card.realobjects %}
                        <li class="list-group-item">{{realobject}} 
                            {% if not realobject.description == "" %} 
                            <span class="text-secondary">| {{realobject.description}}</span> 
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <div class="card-body">
                    <a href="{{card.abbreviation.get_absolute_url}}" class="card-link">Details</a>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>

</div>
{% endblock %}
