{% extends "cubeapp/base.html" %}

{% block body %}
<div class="text-center container">
    <div class="row  justify-content-center">
        <form class="form-signin col-4">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <input type="text" name="{{form.username.html_name}}" class="form-control" style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; margin-bottom: -1px;" placeholder="Username" required autofocus>
            <input type="password" name="{{form.password.html_name}}" class="form-control mb-4" style="border-top-right-radius: 0; border-top-left-radius: 0;" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" method="post" value="login" class="btn">Sign in</button>
            <input type="hidden" name="next" value="{{ next }}">
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
    </div>
</div>
{% endblock %}
